body{
    display: grid;
}
html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contas{
    border-radius: 7px;
    background-color: white;
    padding: 10px 62px 10px 62px;
    margin: 10px 0px 10px 0px;
    border: 2px solid rgb(233, 226, 226);
}
.google{
    padding: 10px 62px 10px 67px;
}
.color{
    color: gray;
}
.negrito{
    font-weight: bold;
}
.cor{
    background-color: black;
    color: white;
    padding: 10px 62px 10px 62px;
}
.display{
    display: flex;
}
.tamanho{
    padding: 10px 1px 10px 1px;
    border-radius: 7px;
    border: 2px solid rgb(233, 226, 226);
}
.margin{
    margin: 10px 1px 10px 1px;
}
.margins{
    margin: 1px 1px 15px 1px;
    border-radius: 5px;
}
svg{
    margin-right: 7px;
}
p{
    text-align: center;
}
input{
    outline: none;
}
button:hover{
    transform: scale(1.1);
}
hr{
    width: 100%;
}
.or{
    position: absolute;
    left: 48%;
    top: -17px;
    background-color: white;
}
.divisoria{
    position: relative;
}